numpy
pandas
matplotlib
stable-baselines3
kubernetes
gym
tensorflow
tensorflow-probability
prometheus-client
pytest
matplotlib
scikit-learn
ray[rllib]
prometheus-api-client
google-cloud-bigquery
google-cloud-storage
